/*//////////////////////////////////////////////////////////////
////    style.css for mrjp2022 development site.            ////
////    Author: mrjp                                        ////
////    Github: https://github.com/hariseldon27/mrjp2022    ////
////    version: 1.2                                        ////
////    date: 12-15-21                                      ////
////    Acknowledgements: this CSS is very much borrowed &  ////
////    based on the flexbox gallery layed out here:        ////
////    https://css-tricks.com/adaptive-photo-layout-with-flexbox/ ////
////    
////////////////////////////////////////////////////////////////
*/



/* reminder this is the small screen dummy*/
@media screen and (max-width: 600px) {

  li.itembox {
      height: auto;
      min-width: 100%;
  }
  li.itembox.poster {
    height: 50vh;
  }
}
/*end small screen size dummy */

/*landscape orientation small*/
@media screen and (min-width: 601px) and (max-width: 820px) {
  li.itembox {
    height: 60vh;
}

}

@media screen and (min-width: 821px) and (max-width: 1000px) {
    li.itembox {
    height: 80vh;
}
}



/*playpen*/
.itembox {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.itemText {
font-size: 2rem;
position: absolute;
}

.itembox > p {
  margin: 1rem
}

.poster {
  min-width: 28em;
  max-width: 100%;
}

#wrapper {
  min-width:100%;
  padding: 0;
  min-height: 100%;
}
body {
  min-width:100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*///////////////
/*globals*/
html {
    font-family: 'Questrial', sans-serif;
    color: #0f4c81;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
  }
li {
    height: 42vh;
    flex-grow: 1;
    list-style-type: none;
}
li:last-child {
    flex-grow: 10;
    }
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

p.subtext  {
  /*border: 2px red solid;*/
  position:absolute;
  /*font-size: 1em;*/
  bottom: 1em;
  color: #fff;

}

  // ADVANCED

// Portrait

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/*goofy stuff*/
.squiggle {
    font-family: 'Redacted Script', cursive;
}

.oregon {
  font-family: 'Shalimar', cursive;
}

.california {
  
}

/*block specific styles

#item13 p {
  background: rgba(44, 44, 44, 0.3);
  width: 100%;
  padding: 1rem;
  
}
*/