/*//////////////////////////////////////////////////////////////
////    style.css for mrjp2022 development site.            ////
////    Author: mrjp                                        ////
////    Github: https://github.com/hariseldon27/mrjp2022    ////
////    version: 1.2                                        ////
////    date: 12-15-21                                      ////
////    Acknowledgements: This totally updated version is   ////
////    based on the flexbox gallery layed out here:        ////
////    https://css-tricks.com/adaptive-photo-layout-with-flexbox/ ////
////    
////////////////////////////////////////////////////////////////
*/

/*playpen*/
.itembox {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

li p {
    position: absolute;
    display: block;
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 50%;
  }

img  {
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
}


/*///////////////
/*globals*/
html {
    font-family: 'Questrial', sans-serif;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
li {
    height: 30vh;
    flex-grow: 1;
    list-style-type: none;
}
li:last-child {
    flex-grow: 10;
    }
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

  // ADVANCED

// Portrait

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/*goofy stuff*/
.squiggle {
    font-family: 'Redacted Script', cursive;
}